body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#root {
    width: 100%;
    height: 100%;
}
#vp {
    display: block;
    width: 100%;
    height: 100%;
}

#info {
    color: #111;
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}